 <!-- LOADER HTML-->
 <div class="loader-wrapper row" style="z-index: 2;">
    <img class="img-fluid mr-4" id="logo" src="../../public/image/unknown.png">
    <span class="loader"><span class="loader-inner"></span></span>
</div>
<!-- LOADER END -->

<!-- proje dışı loader -->
<!-- <div class="loader-wrapper rotate-center">
    <img  class="rotate-center" src="../../public/image/plug-icon-5.jpg">
    <!-- <p>i</p> -->
<!-- </div>  -->