//proje dışı kaldı.

.rotate-center {
	// animation: rotate-center 2s ease-in-out both;
  width: 100px;
  height: 100px;
  // background-color: red;
// position:absolute;
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: 3;
}
 @keyframes example {
    // 0% {
    //   transform: rotate(0);
    // }
    // 50% {
    //   transform: rotate(180deg);
    // }
    // 100% {
    //   transform: rotate(360deg);
    // }
    0%   { left:0px; top:0px;}
    100%  { left:50px; top:0px;}
    // 50%  { left:200px; top:200px;}
    // 75%  {left:0px; top:200px;}
    // 100% {left:0px; top:0px;}
  
  }
  
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // background: rgb(43,45,66);
  // background: linear-gradient(70deg, rgba(43,45,66,1) 0%, rgba(58,61,96,1) 100%);
  background:#Fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  