//STİLLERİN BELİRLENDİĞİ ANA SASS DOSYASI

$theme-colors: (
  "primary":rgb(162, 211, 47),
  "secondary": rgb(48, 131, 0),
  "danger": rgb(201, 64, 0)
);

$enable-rounded: false;

@import "./loader.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}


