//STİLLERİN BELİRLENDİĞİ ANA SASS DOSYASI

$theme-colors: (
  "first": #2b2d42,
  "second": #92dce5,
  "third": #f8f7f9,
  "fourth": #f7ec59,
  "fifth": #ff66d8
);

$enable-rounded: false;

@import "./loader.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";

*{
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}